:root {
  --MainColor: #e20070;
  --shadow: 0 0 9px #00000069;
  --bgColor: #fff;
}

body {
  font-family: p22-underground, Gills Sans, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header>a {
  display: flex;
  width: 96vw;
  align-items: center;
  padding: 2vw;
  padding-top: 3vw;
  box-shadow: var(--shadow);
}

header {
  position: fixed;
  top: 0;
  box-shadow: var(--shadow);
  background: var(--bgColor);
}

header a img {
  width: 55px;
  height: 55px;
  margin-right: 5vw;
}

div#title {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin: 0.5% 0;
}

h2 {
  font-size: small;
  margin: 0.5% 0;
}

nav {
  padding: 0 2vw;
}

ul {
  padding: 0;
  margin: 1vh 0;
  display: flex;
  justify-content: space-around;
}

ul li {
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}

nav a {
  margin: 0;
  text-transform: uppercase;
  font-size: smaller;
}

nav a.current {
  font-weight: bolder;
  color: var(--MainColor);
}

footer {
  width: 96vw;
  position: relative;
  bottom: 0;
  padding: 2vw;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: var(--shadow);
  background: white;
}

footer h4 {
  width: 100%;
  margin: 0 2vw;
  font-size: small;
}

footer i {
  font-size: 32px;
  padding: 0 2vw;
}

footer span {
  display: none;
}

footer a {
  margin-right: 3vw;
}

footer>a:last-of-type {
  background: var(--MainColor);
  width: 5vw;
  height: 5vw;
  border-radius: 100px;
  font-size: 40px;
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vw;
}
footer>a:last-of-type>img{
  width: 60px;
  height: 45px;
  
}
footer h4 {
  display: none;
}

footer a:nth-child(1) {
  color: #0e76a8;
}

footer a:nth-child(2) {
  color: #ff439b;
}

footer a:nth-child(3) {
  color: #131418;
}

main {
  margin: 8vh 2vw;
  margin-top:15vh;
  display: flex;
  flex-flow: wrap;
}

section {
  padding: 0.5%;
  margin-bottom: 2vh;
  animation: fadeUp 0.5s ease-in-out;
}

section h2 {
  font-size: 2rem;
  z-index: 2;
  margin: 0;
}

section img {
  width: 100%;
  margin: 0;
}

section button:first-of-type{
  background: var(--MainColor);
  border: none;
  border-radius: 16px;
  padding: 2% 4%;
  box-shadow: var(--shadow);
}
@keyframes fadeUp {
  from {
    padding-top: 4%;
    opacity: 0.3;
  }

  to {
    padding-top: 2%;
    opacity: 1;
  }
}
