:root {
  --MainColor: #8e8cd8;
  --mainColorActive: #8764b8;
  --shadow: 0 0 9px #00000069;
  --bgColor: #fff;
  --textColor: #000;
  --viewport: 320px;
}
/* General Defaults */
body {
  font-family: p22-underground, Gill Sans, sans-serif;
}
a {
  text-decoration: none;
  color: var(--textColor);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.wrapper {
  width: var(--viewport);
  margin: 0 auto;
}

/****************************
*********** Header **********
****************************/

header {
  width: 100%;
  height: 113px;
  position: fixed;
  top: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  background: var(--bgColor);
  box-shadow: var(--shadow);
}
header > div.wrapper > a {
  display: flex;
  align-items: center;
}
header > div.wrapper > a > img {
  width: 45px;
  height: 45px;
  margin: 12px 12px;
  margin-left: 0;
}
header > div.wrapper {
  width: var(--viewport);
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}
header h1 {
  margin: 3% 0;
  margin-bottom: 0;
  /* font-size: medium; */
}
header h2 {
  margin: 1% 0;
  font-size: small;
}
/****************************
********* Navigation ********
****************************/

nav {
  margin: 0;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}
nav ul li a {
  padding: 6px;
  border-radius: 12px;
  background: linear-gradient(to right, transparent 50%, var(--MainColor) 50%);
  background-size: 200%;
  background-position: 0, 0;
  transition: 0s;
}
nav ul li a.current {
  color: var(--MainColor);
}
nav ul li a:hover {
  color: white;
  background-position: -100%, 0;
  box-shadow: var(--shadow);
  transition: 0.25s;
}
nav ul li a.current:hover {
  color: var(--MainColor);
  font-weight: normal;
  background: transparent;
  box-shadow: none;
}
nav ul li a:active {
  font-weight: bold;
  background: var(--mainColorActive);
  transition: 0s;
}
/****************************
******* Main Content ********
****************************/
main {
  width: 100%;
  margin: 0 auto;
  margin-top: 143px;
  margin-bottom: 96px;
  overflow: hidden;
}
main > div.wrapper {
  display: flex;
  flex-flow: row wrap;
}
/* Section */
main > div > section {
  width: 100%;
  margin: 0 auto;
  margin-top: 1%;
}
main > div > section > a:first-of-type > img,
main > div > section > img:first-of-type {
  width: 100%;
}
/*Emphasized Text*/
main > div > section span {
  font-weight: bold;
  color: var(--mainColorActive);
}
main > div > section li {
  margin-bottom: 2%;
}
/*Article*/
main > div > section > article {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  padding-bottom: 32px;
}
main > div > section > article > img {
  width: 100%;
}

main > div > section > article > img:nth-child(3),
main > div > section > article > img:nth-child(4) {
  display: none;
}
main > div > section > article > :first-child,
main > div > section > article > p {
  width: 100%;
  margin: 1.1%;
  margin-top: 12px;
  margin-bottom: 32px;
}
main button {
  background: var(--MainColor);
  padding: 12px;
  border: none;
  border-radius: 32px;
  margin-left: 1.1%;
  box-shadow: var(--shadow);
}
main button:hover {
  color: white;
}
main button:focus {
  outline: none;
}
main button:active {
  background: var(--mainColorActive);
  font-weight: bold;
  outline: none;
  border: none;
}
/****************************
********* Footer ************
****************************/
footer {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  background: var(--bgColor);
  box-shadow: var(--shadow);
}
footer span {
  display: none;
}
footer i {
  font-size: 32px;
  margin-right: 12px;
}
i.fa-linkedin {
  color: #0e76a8;
}
i.fa-instagram-square {
  color: #e4405f;
}
i.fa-behance-square {
  color: #131418;
}
footer > div.wrapper > a:last-of-type {
  position: fixed;
  right: 32px;
  bottom: 12px;
  width: 124px;
  height: 124px;
  border-radius: 124px;
  background: var(--MainColor);
  box-shadow: var(--shadow);
}
footer > div.wrapper > a:last-of-type > img {
  width: 96px;
  margin: 30px 14px;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  :root {
    --viewport: 769px;
  }
/****************************
********* Header ************
****************************/

header h2 {
    margin: 1% 0;
    font-size: large;
  }

/****************************
****** Main Content *********
****************************/
  main > div > section {
    width: 48%;
    margin: 0 1%;
    margin-top: 1%;
  }
  main > div > section.cv {
    width: 100%;
  }
  main > div > section > article > img:nth-child(3) {
    display: block;
  }
  main > div > section > article > img {
    width: 47.5%;
    margin: 0 1.1%;
  }
/****************************
********* Footer ************
****************************/

  footer > div.wrapper > a:last-of-type {
    right: 12px;
    bottom: 32px;
  }
}
@media screen and (min-width: 1201px) {
  :root {
    --viewport: 1200px;
  }
/****************************
********* Header ************
****************************/
header > div.wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  header {
    height: 79px;
  }
  header uk {
    height: 72px;
  }
  header h2 {
    margin: 1% 0;
    font-size: large;
  }
  nav {
    width: 60%;
  }
/****************************
****** Main Content *********
****************************/
  main > div > section {
    width: 31%;
    margin: 0 1%;
    margin-top: 1%;
  }
  main {
    margin-top: 72px;
  }
  main > div > section.cv {
    width: 100%;
  }
  main > div > section > article > img:nth-child(3),
  main > div > section > article > img:nth-child(4) {
    display: block;
  }
  main > div > section > article > img {
    width: 31%;
    margin: 0 1.1%;
  }
/****************************
********* Footer ************
****************************/
  footer {
    position: fixed;
    bottom: 0;
  }
  footer > div.wrapper > a:last-of-type {
    right: 12px;
    bottom: 32px;
  }
}
